@model string
@{
    ViewData["Title"] = "Home Page";
}
<form method="post">
    <label >Prompt:</label>
    <input type="text" name="prompt" class="form-control" required/>
    <button class="btn btn-primary">Gönder</button>
</form>


@if(ViewBag.GeminiResponse != null)
{
    <h2>Response:</h2>
    <p>@ViewBag.GeminiResponse</p>
}