@model CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Yeni Kategori Oluştur</h3>

<form asp-action="CreateCategory" method="post">
    <label>Kategori Adı</label>
    <input asp-for="Name" type="text" class="form-control" required />
    <br />
    <button type="submit" class="btn btn-primary">Oluştur</button>
</form>

