@model List<ResultCategoryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<h3>Kategoriler</h3>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Adı</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var category in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@category.Name</td>
            <td>
                <a href="/Admin/Category/DeleteCategory/@category.Id" class="btn btn-outline-danger">Sil</a>
                <a href="/Admin/Category/UpdateCategory/@category.Id" class="btn btn-outline-info">Güncelle</a>
            </td>
        </tr>
    }
</table>

<a href="/Admin/Category/CreateCategory" class="btn btn-outline-primary">Yeni Kategori Oluştur</a>
