@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Kategori Güncelle</h3>

<form method="post">
    <input asp-for="Id" type="hidden" />
    <label>Kategori Adı</label>
    <input asp-for="Name" type="text" class="form-control" required />
    <br />
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>

